[buildout]
auto-checkout += *

[sources]
#product_kit = hg ssh://hg@bitbucket.org/angelnan/product_kit egg=False
#sale_kit = hg ssh://hg@bitbucket.org/angelnan/sale_kit egg=False
#stock_kit = hg ssh://hg@bitbucket.org/angelnan/stock_kit egg=False
#trytond_timetracker = hg ssh://hg@bitbucket.org/angelnan/trytond_timetracker egg=False
#trytond_timetracker_task = hg ssh://hg@bitbucket.org/angelnan/trytond_timetracker_task egg=False
