[buildout]
auto-checkout += *
parts =


[sources]
#trytond-doc = git git@bitbucket.org:trytonspain/trytond-doc.git egg=False
account_code_digits = hg https://bitbucket.org/trytonspain/trytond-account_code_digits egg=False
account_invoice_cancel = hg https://bitbucket.org/trytonspain/trytond-account_invoice_cancel egg=False
account_invoice_consecutive = hg https://bitbucket.org/trytonspain/trytond-account_invoice_consecutive egg=False
account_invoice_prevent_duplicates = hg https://bitbucket.org/trytonspain/trytond-account_invoice_prevent_duplicates egg=False
account_invoice_price_list = hg https://bitbucket.org/trytonspain/trytond-account_invoice_price_list egg=False
account_invoice_taxes_required = hg https://bitbucket.org/trytonspain/trytond-account_invoice_taxes_required egg=False
account_payment_type = hg https://bitbucket.org/trytonspain/trytond-account_payment_type egg=False
account_search_with_dot = hg https://bitbucket.org/trytonspain/trytond-account_search_with_dot egg=False
country_zip = hg https://bitbucket.org/trytonspain/trytond-country_zip egg=False
country_zip_es = hg https://bitbucket.org/trytonspain/trytond-country_zip_es egg=False
party_bank = hg https://bitbucket.org/trytonspain/trytond-party_bank egg=False
party_bank_es = hg https://bitbucket.org/trytonspain/trytond-party_bank_es egg=False
party_bank_validation = hg https://bitbucket.org/trytonspain/trytond-party_bank_validation egg=False
party_communication = hg https://bitbucket.org/trytonspain/trytond-party_communication egg=False
party_search = hg https://bitbucket.org/trytonspain/trytond-party_search egg=False
party_tradename = hg https://bitbucket.org/trytonspain/trytond-party_tradename egg=False
party_vat_unique = hg https://bitbucket.org/trytonspain/trytond-party_vat_unique egg=False
purchase_invoice_cancel = hg https://bitbucket.org/trytonspain/trytond-purchase_invoice_cancel egg=False
purchase_payment_type = hg https://bitbucket.org/trytonspain/trytond-purchase_payment_type egg=False
#pyme = hg https://bitbucket.org/trytonspain/trytond-pyme egg=False
sale_invoice_cancel = hg https://bitbucket.org/trytonspain/trytond-sale_invoice_cancel egg=False
sale_payment_type = hg https://bitbucket.org/trytonspain/trytond-sale_payment_type egg=False
#sale_waiting = hg https://bitbucket.org/trytonspain/trytond-sale_waiting egg=False
company_logo = hg ssh://hg@bitbucket.org/trytonspain/trytond-company_logo egg=False
